# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work

# IDE specific files
.vscode/

user-db

.DS_Store

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json/Users/stephanhorsthemke/dev/flourish/frontend/flourish/.github/workflows/deploy.yml

__debug*